<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DataBase" value="genealogy"/>
    <add key="DataSource" value="rdsog79q0016714lvh82.mysql.rds.aliyuncs.com"/>
    <add key="UserID" value="mxh"/>
    <add key="Password" value="1qazXSW2"/>
    <add key="Package" value="com.maxiaohua.genealogy"/>
    <add key="ImportPath" value="C:\Users\mxh\Desktop\Genealogy_Service\4.FSD-功能详细"/>
    <add key="ExportPath" value="C:\Users\mxh\Desktop\Genealogy_Service\Out"/>
    <add key="FileExtension" value="xls"/>
    <add key="ServiceFileFistName" value="Service接口定义书"/>
    <add key="DTOFileFistName" value="DTO定义书"/>
    <add key="ServiceFirstName" value="Gs"/>
    <add key="MessageFileLastName" value="_消息一览"/>
    <add key="CustomerMessageSheet" value="消息一览"/>
    <add key="CommonMessageSheet" value="共通消息一览"/>
    <add key="ClientMessageSheet" value="客户端消息一览"/>
    <add key="CodeFileLastName" value="_Code管理表"/>
    <add key="ProjectName" value="Genealogy"/>
    <add key="CompanyName" value="Xiao Hua Ma personal studio 2015."/>
  </appSettings>
</configuration>